/*-----------------------
	SETUP
-----------------------*/
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
$primary: #3F5EF8;
$secondary: #f7f7f7;
$highlight: #3ecf8e;
$dim: rgba(0,0,0,0.2);
$text: #6b7c93;
* {
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
  font-family: "Muli";
  font-size: 1.7em;
}
#alert1 {
  position: absolute;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  right: 5px;
}
#alert1.appear {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
  z-index: 2;
}
.bolder {
  font-weight: bolder;
}
.shadow-effect {
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.01), 0 0 0 1px rgba(0,0,0,0.03);
  border-radius: 4px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}
.navbar-default {
  border-color: transparent;
}
.alert {
  padding: 0.9em;
  margin: 0;
}
.btn-success {
  background: #3f4448;
  border-color: transparent;
}
.btn-success:hover {
  background: #5cb85c;
  transition: 0.3s ease;
}
.loader:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 3rem;
  height: 3rem;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: .25em solid black;
  border-right-color: transparent;
  animation: spin .75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
$spaceamounts: (0, 1, 2, 3, 4, 5);
$ranges: (
    0: "0",
    1: "0.25",
    2: "0.5",
    3: "1",
    4: "1.5",
    5: "3"
);
$sides: ("top", "bottom", "left", "right", "x", "y", "");

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      @if ($side == "y") {
		 	margin-top: #{map-get($ranges, $space)}rem !important;
      	margin-bottom: #{map-get($ranges, $space)}rem !important;
      } @else if ($side == "x") {
      	margin-left: #{map-get($ranges, $space)}rem !important;
      	margin-right: #{map-get($ranges, $space)}rem !important;
      }
      @else if ($side == "") {
      	margin: #{map-get($ranges, $space)}rem !important;
      } @else {
      	margin-#{$side}: #{map-get($ranges, $space)}rem !important;
      }
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      @if ($side == "y") {
      	padding-top: #{map-get($ranges, $space)}rem !important;
      	padding-bottom: #{map-get($ranges, $space)}rem !important;
      } @else if ($side == "x") {
		 	padding-left: #{map-get($ranges, $space)}rem !important;
      	padding-right: #{map-get($ranges, $space)}rem !important;
      }
      @else if ($side == "") {
      	padding: #{map-get($ranges, $space)}rem !important;
      } @else {
      	padding-#{$side}: #{map-get($ranges, $space)}rem !important;
      }
    }
  }
}
/*-----------------------
	DESKTOP
-----------------------*/
section#navigation {
  box-shadow: 0 4px 20px rgba(50,50,93,.50);
  nav {
    text-align: center;
    & > div.row {
      display: flex;
      align-items: center;
    }
  }
  ul {
    list-style: none;
  }
  #logo {
    width: 52px;
    padding: 0.2em 0em;
  }
}
section#api-info-sidebar {
}
section#contactForm {
  form {
    width: 100%;
    margin: 0 auto;
  }
  .input-group {
    margin: 1em 0em;
    width: 100%
  }
  .input-group-addon {
    width: 150px
  }
  .contact-form-field {
    width: 100%
  }
  .contact-form-button {
    position: relative;
    top: 0;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    margin-top: 2em;
  }
}
.weather-icons {
  width: 100%;
}
.news-widget__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  justify-items: center;
  .news-image {
    width: 100%;
    max-width: 350px;
  }
}
/*-----------------------
	MOBILE
-----------------------*/
@media (max-width: 992px){
  .weather-icons {
    width: 100px;
  }
  .news-image {
    width: 150px;
  }
  section#navigation {
    nav {
      text-align: center;
      padding: 1em 0em;
    }
  }
  .news-widget__cards {
    .news-image {
      max-width: 450px;
    }
  }
}
